<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="leftnav">
    <wm-nav name="leftnavigation" type="pills" layout="stacked">
        <wm-nav-item name="list_latestUpdate">
            <wm-anchor caption="Dashboard" name="dashboardLink" iconclass="glyphicon glyphicon-dashboard" on-click="goToPage_Main"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_inTheNews">
            <wm-anchor caption="Pending Orders" name="porderLink" iconclass="glyphicon glyphicon-file" on-click="goToPage_Page"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_share">
            <wm-anchor caption="Inventory" name="inventoryLink" iconclass="glyphicon glyphicon-tags"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_help">
            <wm-anchor caption="Support Calls" name="supportLink" iconclass="glyphicon glyphicon-envelope"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>