<wm-partial data-ng-controller="Page1PageController" name="partial1">
    <wm-composite name="composite1">
        <wm-label class="col-md-3 control-label" name="label1"></wm-label>
        <wm-container class="col-md-9" name="container1">
            <wm-text name="text1"></wm-text>
        </wm-container>
    </wm-composite>
    <wm-composite name="composite2">
        <wm-label class="col-md-3 control-label" name="label2"></wm-label>
        <wm-container class="col-md-9" name="container2">
            <wm-text name="text2"></wm-text>
        </wm-container>
    </wm-composite>
    <wm-button class="btn-default" caption="Button" type="button" name="button1" on-click="GoogleapisInvoke"></wm-button>
    <wm-prefab prefabname="googlemaps" name="googlemaps1" origin="bind:Widgets.text1.datavalue" destination="bind:Widgets.text2.datavalue" locations="bind:Variables.GoogleapisInvoke.dataSet.route.leg.step"></wm-prefab>
</wm-partial>