<wm-page data-ng-controller="PagePageController" pagetitle="Page" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-tabs name="tabs1">
                <wm-tabpane name="tabpane1">
                    <wm-tabheader name="tabheader1"></wm-tabheader>
                    <wm-tabcontent name="tabcontent1" content="Page1"></wm-tabcontent>
                </wm-tabpane>
            </wm-tabs>
        </wm-page-content>
    </wm-content>
</wm-page>