<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
            <wm-panel class="panel-primary" name="panel1" title="app messages">
                <wm-panel-footer name="panel_footer1"></wm-panel-footer>
                <wm-select class="select-locale" dataset="bind:Variables.supportedLocale.dataSet" on-change="changeAppLocale($scope)" name="select1"></wm-select>
                <wm-label name="label1" caption="bind:appLocale.testmsg1"></wm-label>
            </wm-panel>
            <wm-prefab prefabname="fbpost" name="fbpost1" height="613" appid="235401466622053"></wm-prefab>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>